*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
}

html,body{
	background-color: rgb(250,250,250);
	height: 100%;
}


.clear{
	clear: both;
}

header{
	padding: 1px 2%;
}

.container{
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
}

header div.logo{
	float: left;
}

header nav.desktop{
	position: relative;
	margin-top: 30px;
	float: right;
}

nav.mobile{
	margin-top: 30px;
	float: right;
	width: 32px;
	height: 32px;
	background-size: 100% 100%;
	cursor: pointer;
	background-image: url('../imagens/icon_menu.png');
	display: none;
}

nav.mobile ul{
	display: none;
	width: 100%;
	left: 0;
	border-bottom: 4px solid #EB2D2D;
	z-index: 999;
	top: 80px;
	position: absolute;
	text-align: center;
	background-color: white;
}

nav.mobile li{
	font-size: 32px;
	padding: 20px 0;
}

nav.mobile li a{
	text-decoration: none;
}

header nav.desktop ul{
	list-style-type: none;
}

header nav.desktop li{
	float: left;
	font-size: 23px;
	padding: 0 15px;
	font-style: italic;
}

header nav.desktop a{
	color: black;
	text-decoration: none;
}

/*------BANNER--------*/

.banner{
	background-color: black;
	background-image: url('../imagens/bg.jpg');
	background-size: contain;
	background-position: right bottom;
	background-repeat: no-repeat;
	width: 100%;
	height: 600px;
}

.text-banner{
	font-style: italic;
	padding: 100px;
	color: white;
}

.text-banner-single{
	cursor: pointer;
	margin-top: 20px;
	text-transform: uppercase;
	font-size: 32px;
	padding: 20px 30px;
	width: 330px;
	height: 80px;
	background-image: url('../imagens/box-text.png');
	background-size: 100% 100%;
}

.text-banner .text-banner-single:nth-of-type(2){
	width: 240px;
	padding: 10px 20px;
	height: 50px;
	position: relative;
	left: -10px;
}

.text-banner-single:nth-of-type(3){
	width: 170px;
	padding: 10px 18px;
	height: 50px;
	position: relative;
	left: -20px;
}

.text-banner-single:nth-of-type(4){
	width: 330px;
	text-transform: none;
	padding: 6px 20px;
	height: 30px;
	font-size: 18px;
	position: relative;
	left: -30px;
	color: black;
	background-image: url('../imagens/box-white-text.png');
}

.veiculos-destaque{
	text-align: center;
	margin-top: 30px;
}

.veiculos-destaque p{
	font-size: 33px;
	padding: 0 2%;
	/*margin-top: 50px*/
}
.veiculos-destaque h2{
	background-color: rgb(250,250,250);
	width: 420px;
	display: inline-block;
	position: relative;
	top: -20px;
	font-size: 32px;
	font-style: italic;
	text-transform: uppercase;
}
/*----------------------------*/

section.vitrine .container{
	max-width: 1000px;
	padding: 40px 2%; 
}

.container{
	margin-right: 160px;
}

.vitrine-carros{
	float: left;
	width: 33.3%;
}

.info-carro{
	margin-top: 8px;
	width: 90%;
}

.info-carro h2{
	font-size: 20px;
	margin-top: 6px;
	font-style: italic;	
}

.info-carro p{
	color: #353535;
	font-style: italic;
	margin-top: 6px;
	font-size: 16px;
}

.btn1{
	text-align:center;
	margin-top: 8px;
	width: 120px;
	line-height: 30px;
	background-color: #EB2D2D;
	border-bottom: 3px solid #B21E1E;
	text-decoration: none;
	text-align: center;
	display: block; 
	color: white;
}

.info-carro a{
	color: white;
	font-style: italic;
	
	
	
}

.vitrine-carros .carro-img{
	width: 90%;
	height: 200px;
	background-size: 100% 100%;
}

/*------------*/




.half1{
	float: left;
	background-color: black;
	color: white;
	width: 50%;
	padding: 90px 0;
	height: 300px;
	text-align: center;
}

.half1-wan{
	text-align: left;
	display: inline-block;
}


.half1-wan h2{
	font-weight: normal;
	font-style: italic;
	font-size: 32px;
}

.half1-wan ul{
	list-style-position: inside;
	margin-top: 20px;
}

.half1-wan a{
	margin-left: 160px;
	display: inline-block;
	vertical-align: bottom;
	margin-top: -30px;
}

.half2{
	float: left;
	background: #EB2D2D;
	color: white;
	width: 50%;
	padding: 90px 100px;
	height: 300px;
}

.half2 h2{
	font-weight: normal;
	font-style: italic;
	font-size: 32px;
}

.half2 .depoimento-single{
	margin-top: 19px;
}

.half2 .depoimento-single p{
	font-size: 15
}

.navegation{
	float: left;
	width: 100%;
	max-width: 700px;
	margin-top: 30px;
}

.arrows{
	float: left;
}

.navegation img{
	cursor: pointer;
	margin: 0 20px;
}

.nome-depoimento{
	float: right;
	font-size: 18px;
	color: black;
}

.contato {
	text-align: center;
	margin-top: 30px;
}

.contato p{
	font-size: 33px;
	padding: 0 2%;
}

.contato h2{
	background-color: rgb(250,250,250);
	width: 150px;
	display: inline-block;
	position: relative;
	top: -15px;
	font-size: 24px;
	font-style: italic;
	text-transform: uppercase;
}

section.contato{
	padding: 80px 2%;
}

section.contato form{
	max-width: 600px;
	margin: 50px auto;
}

section.contato .input-wraper{
	float: left;
	padding: 10px;
	margin-top: 2px;
}

section.contato textarea{
	width: 100%;
	height: 120px;
	border: 1px solid #ccc;
	padding: 8px;
	resize: none;
}

section.contato form .input-wraper:nth-of-type(5){
	text-align: center;
}

section.contato input[type=submit]{
	border: 0;
	margin-top: -10px;
	cursor: pointer;
	border: 2px solid #ccc;
}

.w100{
	width: 100%;
}

.w50{
	width: 50%;
}

section.contato input[type=text]{
	width: 100%;
	height: 40px;
	line-height: 40px;
	border: 1px solid #ccc;
	padding-left: 15px;
}


/*---------------------------*/


footer{
	padding: 20px 2%;
	background: #252525;
}

footer nav{
	float: left;
}

footer nav ul{
	list-style-type: none;
}

footer nav ul li{
	float: left;
	padding: 0 12px;
	font-size: 19px;
}

footer nav ul a{
	color: white;
	text-decoration: none;
}

footer p{
	float: right;
	color: white;
	font-size: 19px;
	font-style: italic;
}

/*----STYLE VENDA---*/



section.venda{
	min-height: 90%;
}

.line-titulo{
	text-align: center;
	margin-top: 30px;
}

.line-titulo p{
	font-size: 33px;
	padding: 0 2%;
	/*margin-top: 50px*/
}
.line-titulo h2{
	background-color: rgb(250,250,250);
	width: 370px;
	display: inline-block;
	position: relative;
	top: -20px;
	font-size: 28px;
	font-style: italic;
	text-transform: uppercase;
}

.content-venda{
	margin-top: 20px;
}

.container2{
	margin-left: 30px;
}
.sidebar{	
	float: left;
	width: 30%;
}

.search1{
	width: 90%;
}

.search1 h2{
	font-size: 24px;
	color: black;
	font-weight: normal;
}

.search1 .barra-preco{
	width: 300px;
	height: 15px;
	background: white;
	border: 1px solid #ccc;
	border-radius: 20px;
	margin-top: 8px;
	position: relative;
}

.barra-preco-fill{
	position: absolute;
	left: 0;
	top: 0;
	width: 60px;
	height: 15px;
	border-radius: 20px;
	background: linear-gradient(to bottom,rgb(255,255,255),rgb(200,200,200));
}

.point-barra{
	width: 22px;
	height: 22px;
	position: relative;
	left: calc(30% - 43px);
	cursor: pointer;
	border-radius: 8px;
	background: linear-gradient(to bottom,rgb(255,255,255),rgb(200,200,200));
	border: 1px solid black;
	top: -4px;
}

.search2{
	margin-top: 30px;
}

.search2 h2{
	font-size: 24px;
	color: black;
	font-weight: normal;
}

.form-venda-wraper{
	margin-top: 10px;
}
/*-----------------------------------------*/

.valor-pesquisa{
	margin-top: 8px;
	width: 300px;
	height: 20px;
}

.valor-pesquisa p{
	font-size: 16px;
	color: black;
}

.valor-pesquisa p:nth-of-type(1){
	float: left;
}

.valor-pesquisa p:nth-of-type(2){
	float: right;
}

/*-------vitrine-vendas---------*/

.vitrine-venda .vitrine-carros{
	margin-top: 25px;
	margin-bottom: 15px;
}

.vitrine-venda{
	float: left;
	width: 70%;
}

/*-----VEICULO TESTE------*/

.venda-single{
	text-align: center;
	margin-l
	font-size: 43px;
	padding: 0 2%;
}

.venda-single .container3{
	padding: 80px 0;
	max-width: 2280px;
}

.venda-single h2{
	background-color: rgb(250,250,250);
	width: 380px;
	display: inline-block;
	position: relative;
	top: -15px;
	font-size: 24px;
	font-style: italic;
	text-transform: uppercase;
}

.descricao-veiculo{
	text-align: center;
	float: right;
	width: 30%;
	background-color: red;
}

.container3{
	width: 100%;
	height: 300px;
}

.foto-destaque{
	width: 30%;
	padding-top: 30%;
	background-position: center;
	background-size: contain;	
	background-repeat: no-repeat;
}
/*-----REDPONSIVO-----*/


@media screen and (max-width: 780px){
	.banner{
		height: 70vh;
		min-height: 0;
		max-height: 800px;
	}
}

@media screen and (max-width: 720px){
	header nav.desktop{
		display: none;
	}

	nav.mobile{
		display: block;
	}
}

@media screen and (max-width: 580px){
	.text-banner{
		padding: 30px;
	}

	.text-banner-single{
		margin-top: 10px;
		font-size: 18px;
		padding: 18px 30px;
		width: 240px;
		height: 50px;
	}

	.text-banner .text-banner-single:nth-of-type(2){
		width: 160px;
		padding: 6px 20px;
		height: 30px;
		position: relative;
		left: -8px;
	}


	.text-banner-single:nth-of-type(3){
		width: 130px;
		padding: 6px 20px;
		height: 30px;
		position: relative;
		left: -15px;
	}

	.text-banner-single:nth-of-type(4){
		width: 280px;
		padding: 3px 20px;
		height: 25px;
		position: relative;
		left: -25px;
	}
	.vitrine-carros{
		float: none;
		display: inline-block;
		width: 70%;
		
		/*text-align: center; */
	}


}